#background_img{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0;
    padding: 0;
}

#site_header{
    height: 70px;
    background-color: darkolivegreen;
    color: white;
    font-family: "Century Gothic";
    font-size: 60px;
}

#site_logo{
    margin-left: 40%;
    display: inline-block;
}

#list_button{
    position: absolute;
    font-size: 30px;
    margin-left: 45vw;
    margin-top: 20px;
    display: inline-block;
}

#list_button:hover{
    color: goldenrod;
    text-decoration: underline;
}

#comparing_pollution_frame{
    border-radius: 100px;
    padding: 50px 30px 0 30px;
    position: absolute;
    margin-top: 28vh;
    margin-left: 34vw;
    background-color: darkolivegreen;
    height: 350px;
    width: 400px;
}

.picker{
    width: 300px;
    font-size: 18px;
    margin-left: 48px;
    margin-bottom: 30px;
}
